.DS_Store
*.zip
HelloWorld.*
Welcome*.*
/Lab2/Solution to Lab 2/build/
/Lab2/Solution to Lab 2/nbproject/private/
/Lab2/Solution to Lab 2/dist/
/applet/JavaApplication6/nbproject/private/
/applet/JavaApplication6/build/
/history/Solution to Lab 2/build/
/history/Solution to Lab 2/dist/
/history/Solution to Lab 2/nbproject/private/
/Lab3/Solution to Lab3/nbproject/private/
/Lab3/Solution to Lab3/build/
/Lab3/Solution to Lab3/dist/
